@use "sass:color";

$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;
$rounded-md: 10px;

$base: #1d2021;
$crust: #1d2021;
$color00: #3c3836;
$color01: #fbf1c7;
$color02: #fbf1c7;
$color03: #83a598;
$color04: #fb4934;
$color05: #b8bb26;
$color06: #fe8019;
$color07: #fabd2f;
$color08: #1d2021;
$color09: #d5c4a1;
$color10: #d3869b;
$color11: #8ec07c;

$bg-alt: color.adjust(#3c3836, $alpha: -0.5);
$text: #fbf1c7;
$text-dimmed: color.adjust(#fbf1c7, $alpha: -0.5);

@mixin fluent_decel_long {
  transition: 1000ms cubic-bezier(0.1, 1, 0, 1);
}

window.Bar {
  label {
    margin: 0 8px;
  }

  .box_bg {
    margin: 3px 6px 3px 6px;
    border-radius: 10px;
    padding: 2px;
    background-color: $color08;
    color: $fg;
    font-weight: normal;
    min-height: 2rem;
    font-size: 1.1em;
    border: none;
    box-shadow: none;

    .workspaces {
      background: $bg;
      padding: 5px 5px;

      /* * { */
      /* all: unset; */
      /* } */

      button {
        all: unset;
        border: 1px solid $color02;
        background-color: $color02;
        background: $color02;
        min-width: 5px;
        min-height: 5px;
        border-radius: 50%;
        margin: 10px 7px;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .focused {
        all: unset;
        background: #FF69B4;
        border-color: #FF69B4;
        border-radius: 7px;
        min-width: 30px;
        min-height: 10px;
        opacity: 1;
        margin: 3px 3px;
      }

      .occupied {
        all: unset;
        border: 2px solid #FF69B4;
        background-color: #FF69B4;
        min-width: 6px;
        min-height: 6px;
        border-radius: 50%;
        margin: 7px 7px;
        padding: 1px;
      }
    }

    .launcher_button {
      padding: 1px;
      background-color: transparent;
    }

    .launcher_button label {
      /* min-width: 24px; */
      /* min-height: 24px; */
      padding: 0px;
      color: #FF69B4;
    }

    .SysTray {
      margin-right: 8px;

      button {
        padding: 0 4px;
        background-color: transparent;
      }
    }

    .FocusedClient {
      color: $accent;
    }

    .Media .Cover {
      padding: 0px;
      min-height: 1.2em;
      min-width: .2em;
      border-radius: $radius;
      background-position: center;
      background-size: contain;
      background-color: transparent;
    }

    .Battery label {
      padding-left: 0;
      margin-left: 0;
    }

    .Battery circularprogress {
      @include fluent_decel_long;
      min-width: 0.136rem; // line width
      min-height: 1.636rem;
      padding: 0rem;
      background-color: #FFFFFF;
      color: $color04;
      background-color: #FFDDBB;
      color: $color09;
      margin-left: 20px;
    }
  }
}
