$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;

$base: #1d2021;
$crust: #1d2021;
$color00: #3c3836;
$color01: #fbf1c7;
$color02: #fbf1c7;
$color03: #83a598;
$color04: #fb4934;
$color05: #b8bb26;
$color06: #fe8019;
$color07: #fabd2f;
$color08: #1d2021;
$color09: #d5c4a1;
$color10: #d3869b;
$color11: #8ec07c;

$bg-alt: #3c3836;
$rounded-md: #FDEEFD;
$text: #fbf1c7;
$text-dimmed: #fbf1c7;
