#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Addie Notes
Exec=chromium --profile-directory=Default --app=https://publish.obsidian.md/addielamarr/01+Cybersecurity+Mastery
Icon=/home/lilith/.local/share/applications/icons/hacktricks.png

