#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Binance
Exec=chromium --profile-directory=Default --app=https://binance.com
Icon=/home/lilith/.local/share/applications/icons/binance.png

