#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Canva
Exec=chromium --profile-directory=Default --app=https://canva.com
Icon=/home/lilith/.local/share/applications/icons/canva.svg

