#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Nix Package Search
Exec=chromium --profile-directory=Default --app=https://search.nixos.org/packages
Icon=/home/lilith/.local/share/applications/icons/nix.png

