#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Regexr
Exec=chromium --profile-directory=Default --app=https://regexr.com
Icon=/home/lilith/.local/share/applications/icons/hashtag-solid.svg

