#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SVG Repo
Exec=chromium --profile-directory=Default --app=https://www.svgrepo.com
Icon=/home/lilith/.local/share/applications/icons/svg-repo.png

