#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TryHackMe
Exec=chromium --profile-directory=Default --app=https://tryhackme.com/dashboard
Icon=/home/lilith/.local/share/applications/icons/tryhackme.png

