#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TikTok
Exec=chromium --profile-directory=Default --app=https://tiktok.com
Icon=/home/lilith/.local/share/applications/icons/tiktok.png

